.App {
  text-align: center;
}

.Appheader {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Headernav {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  width: 50vw;
}

.Counter {
  min-height: 70vh;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Appfooter {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Shoptile {
  min-height: 80vh;
}
